---
import CmsForm from "@/components/cms/cms-form";
import { Dashboard } from "@/components/cms/dashboard";
import Main from "@/components/cms/main";
import CmsLayout from "@/layouts/CmsLayout.astro";
import { treesap } from "@/treesap/treesap.config";

const navData = await treesap.getCmsNav();

const { slug, id } = Astro.params;

const global = await treesap.getGlobal(slug);
---

<CmsLayout title="Admin">
  <Dashboard navData={navData} client:only="react">
    <Main
      client:only="react"
      title={global.name}
    >
      <CmsForm client:only="react" global={global} />
    </Main>
  </Dashboard>
</CmsLayout>
