---
import { Dashboard } from "@/components/cms/dashboard";
import CmsLayout from "@/layouts/CmsLayout.astro";
import { treesap } from "@/treesap/treesap";
import HomeContent from "@/components/cms/content/home";

const navData = await treesap.getCmsNav();

const { slug } = Astro.params;

const collection = await treesap.getCollection(slug);
---

<CmsLayout title="Admin">
  <Dashboard navData={navData} title={collection.name} client:only="react">
    <div>{JSON.stringify(collection)}</div>
  </Dashboard>
</CmsLayout>
