---
import { Dashboard } from "@/components/cms/dashboard";
import CmsLayout from "@/layouts/CmsLayout.astro";
import { treesap } from "@/treesap/treesap";
import HomeContent from "@/components/cms/content/home";

const navData = await treesap.getCmsNav();

const { slug } = Astro.params;
---

<CmsLayout title="Admin">
  <Dashboard navData={navData} client:only="react">
    <div>Collection: {slug}</div>
  </Dashboard>
</CmsLayout>
