---
import { Dashboard } from "@/components/cms/dashboard";
import CmsLayout from "../../layouts/CmsLayout.astro";
import { treesap } from "../../treesap/treesap";
import HomeContent from "@/components/cms/content/home.tsx";

const navData = await treesap.getCmsNav();
---

<CmsLayout title="Admin">
  <Dashboard navData={navData} client:only="react">
    <h2>Settings</h2>
  </Dashboard>
</CmsLayout>
