---
import CmsForm from "@/components/cms/cms-form";
import { Dashboard } from "@/components/cms/dashboard";
import Main from "@/components/cms/main";
import CmsLayout from "@/layouts/CmsLayout.astro";
import { treesap } from "@/treesap/treesap";

const navData = await treesap.getCmsNav();

const { slug } = Astro.params;

const collection = await treesap.getCollection(slug);
---

<CmsLayout title="Admin">
  <Dashboard navData={navData} client:only="react">
    <Main
      client:only="react"
      title={collection.name}
      buttonText="Add"
      buttonHref={`/admin/collections/${slug}/create`}
    >
      <CmsForm client:only="react" collection={collection} />
    </Main>
  </Dashboard>
</CmsLayout>
